<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ku_stacks.ku_ring">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:replace="icon, label"
        android:name="com.ku_stacks.ku_ring.KuRingApplication"
        android:allowBackup="false"
        android:icon="${appIcon}"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/WhiteTheme">

        <activity
            android:name="com.ku_stacks.ku_ring.ui.home.HomeActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.feedback.FeedbackActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.my_notification.NotificationActivity" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/OpenSourceMenuTheme" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/OpenSourceItemTheme" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="com.ku_stacks.ku_ring.initializer.TimberInitializer"
                android:value="androidx.startup" />
        </provider>

        <service android:name="com.ku_stacks.ku_ring.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>