<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <queries>
        <package android:name="kr.ac.kku.library" />
    </queries>

    <application
        android:name="com.ku_stacks.ku_ring.KuRingApplication"
        android:allowBackup="false"
        android:icon="${appIcon}"
        android:label="${appName}"
        android:roundIcon="${appIcon}"
        android:supportsRtl="true"
        android:theme="@style/Theme.KURing"
        android:usesCleartextTraffic="true"
        tools:replace="icon, label">

        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feedback.feedback.FeedbackActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:exported="true"
            android:theme="@style/OpenSourceItemTheme" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:exported="true"
            android:theme="@style/OpenSourceItemTheme" />

        <activity
            android:name=".notice_detail.NoticeWebActivity"
            android:exported="true" />

        <activity
            android:name=".edit_subscription.EditSubscriptionActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/EditSubscriptionTheme" />

        <activity
            android:name=".notion.NotionViewActivity"
            android:exported="true" />

        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.search.SearchActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".kuringbot.KuringBotActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".library.LibrarySeatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.ku_stacks.ku_ring.initializer.TimberInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <service
            android:name="com.ku_stacks.ku_ring.thirdparty.firebase.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6671968113098923~7129948779" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_status_bar" />

    </application>

</manifest>
