name: Android-release CI/CD

on:
  push:
    branches:
      - release/*
  pull_request:
    branches:
      - release/*
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Create google-services
      run: |
        mkdir ./app/src/release
        echo '${{ secrets.GOOGLE_SERVICES_JSON_RELEASE }}' > ./app/src/release/google-services.json

    - name: Create KeyStore File and Properties
      run: |
        mkdir ./app/signing
        echo '${{ secrets.KU_RING_KEY_STORE_JKS }}' | base64 -d > ./app/signing/ku_ring_keystore.jks
        echo '${{ secrets.KEY_STORE_PROPERTIES }}' > ./app/signing/keystore.properties

    - name: Create local.properties
      run: echo '${{ secrets.LOCAL_PROPERTIES }}' > ./local.properties

    # Run unit test
    - name: Run unit test
      run: ./gradlew testReleaseUnitTest

    # Build APK Release
    - name: Build release Apk
      run: ./gradlew :app:assembleRelease

    # Build AAB Release
    - name: Build release Bundle
      run: ./gradlew :app:bundleRelease
      
    # Upload AAB
    - name: Upload a Build AAB Artifact
      uses: actions/upload-artifact@v4.4.3
      with:
        # Artifact name
        name: app-release.aab
        # A file, directory or wildcard pattern that describes what to upload
        path: ./app/build/outputs/bundle/release/app-release.aab
        retention-days: 14

    # Upload APK
    - name: Upload a Build APK Artifact
      uses: actions/upload-artifact@v4.4.3
      with:
        # Artifact name
        name: app-release.apk
        # A file, directory or wildcard pattern that describes what to upload
        path: ./app/build/outputs/apk/release/app-release.apk
        retention-days: 14
